@use "@/styles/main" as *;

.quiz {
  @include Flex(column, 1rem);
  @include Grid(1fr, auto 1fr auto, 1rem);
  min-width: 500px;
  max-width: 95dvw;
  background-color: $color-light;
  padding: 1rem;
  h1 {
    @include Font($font-primary, 1.5rem, 700, $color-dark);
  }

  ul {
    @include Flex(column, 1rem);
    width: 100%;
    padding: 0;
    list-style: none;
    li {
      @include Flex(row, 1rem);
      @include Font($font-jakarta, 1rem, 500, $color-light);
      width: 100%;
      padding: 1rem;
      background-color: $color-dark;
      color: white;
      border-radius: 0.5rem;
      border: 1px solid $color-dark;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgb(216, 216, 231);
        color: $color-dark;
      }
      &:active {
        box-shadow: 0px 0px 5px 0px $color-dark;
      }
    }
    .select {
      background-color: rgb(216, 216, 231);
      color: $color-dark;
      box-shadow: 0px 0px 5px 0px $color-dark;
    }
  }

  section {
    @include Flex(row, 1rem);
    justify-content: space-between;

    button {
      @include Font($font-primary, 1.1rem, 500, $color-light);
      background-color: $color-secondary;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        opacity: 0.8;
        box-shadow: 0px 0px 5px 0px $color-dark;
      }
      &:active {
        box-shadow: 0px 0px 5px 1px $color-dark;
      }

      &:first-child {
        background-color: rgb(191, 185, 176);
        color: $color-dark;

        &:hover {
          background-color: rgb(216, 216, 231);
          color: $color-dark;
          box-shadow: 0px 0px 5px 0px $color-dark;
        }
        &:active {
          box-shadow: 0px 0px 5px 1px $color-dark;
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover,
        &:active {
          box-shadow: none;
        }
      }
    }
  }

  @include MediaQuery($breakpoint-sm) {
    min-width: 95dvw;
  }
}
