@mixin Size($width, $height) {
  width: $width;
  height: $height;
}

@mixin Grid($columns, $rows, $gap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}

@mixin Flex($direction, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin Image($width, $height, $objectFit: cover, $position: center) {
  width: $width;
  height: $height;
  object-fit: $objectFit;
  object-position: $position;
}

@mixin Font($fontFamily, $fontSize, $fontWeight, $fontColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
}

@mixin MediaQuery($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
