// media-query breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// colors
$color-primary: #4E9F3D;
$color-secondary: #1E5128;
$color-dark: #191A19;
$color-light: #D8E9A8;

// fonts
$font-primary: var(--font-karla);
$font-secondary: var(--font-merriweather);
