// media-query breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// colors
$color-primary: #4e9f3d;
$color-secondary: #1e5128;
$color-accent: #75e73a;
$color-dark: #191a19;
$color-light: #d8e9a8;

// fonts
$font-primary: var(--font-karla);
$font-secondary: var(--font-merriweather);
