@use "@/styles/main" as *;

.categoriesContainer {
  @include Size(90dvw, auto);
  @include Flex(column, 1rem);
  min-height: 300px;
  background-color: #1e512875;
  border-radius: 2px;

  h1 {
    @include Font($font-jakarta, 3rem, 700, $color-light);
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
  }

  .tagNames {
    @include Flex(row, 1.5rem);
    flex-wrap: wrap;
    margin: 0.5rem;
    user-select: none;

    span {
      @include Font($font-primary, 1rem, 700, $color-dark);
      text-indent: 20px;
      line-height: 2rem;
      text-align: center;
      text-wrap: nowrap;
      position: relative;
      height: 2.3rem;
      width: auto;
      padding: 0.2rem;
      padding-right: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: #5a9b44;
      border: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 1rem;

      &::before {
        border-radius: 10px;
        box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0.734);
        content: "";
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 1rem;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 2.3rem;
        width: 15px;
        background: transparent;
        background-color: transparent;
        border-bottom: 18px solid #1c3320;
        border-top: 18px solid #1c3320;
        border-left: 15px solid transparent;
      }
      &:hover {
        background-color: #4a7a3a;
      }
    }

    .active,
    .active:hover {
      background: #22ab2c;
      background-color: #22ab2c;
      cursor: default;
    }
  }

  .quizzes {
    h2 {
      @include Font($font-primary, 2rem, 700, $color-light);
      text-align: center;
      margin: 0.5rem 0;
    }
    ul {
      @include Flex(column, 1rem);
      text-align: left;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;

      li {
        @include Size(100%, 100%);
        @include Flex(row, 0);
        align-items: center;
        justify-content: space-between;
        background-color: #1e5128fa;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-light;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 0.5rem 0.25rem $color-accent;
        }

        section {
          flex: 1;
          @include Font($font-primary, 1.25rem, 700, $color-light);
        }

        button {
          @include Size(7rem, auto);
          @include Font($font-primary, 1rem, 700, $color-dark);
          padding: 0.5rem;
          border-radius: 2px;
          background-color: $color-light;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: $color-accent;
            color: $color-dark;
          }
        }
      }
    }
  }

  @include MediaQuery($breakpoint-md) {
    width: 95dvw;
    min-height: 450px;

    h1 {
      font-size: 2.5rem;
    }

    .quizzes {
      h2 {
        font-size: 1.5rem;
      }
      ul {
        padding: 0.5rem;

        li {
          padding: 0.2rem;

          section {
            font-size: 1rem;
            text-wrap: nowrap;

            &:nth-child(2) {
              margin: 0 2rem;
            }
          }

          button {
            width: 3.5rem;
          }
        }
      }
    }
  }
}
