@use "@/styles/main" as *;

.categoriesContainer {
  @include Size(90dvw, auto);
  @include Flex(column, 1rem);
  min-height: 300px;
  background-color: #1e512875;
  border-radius: 2px;

  h1 {
    @include Font($font-jakarta, 3rem, 700, $color-accent);
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
  }

  .tagNames {
    @include Flex(row, 0.5rem);
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    user-select: none;

    span {
      @include Font($font-primary, 1rem, 700, $color-dark);
      text-align: center;
      padding: 0.75rem;
      border-radius: 2rem;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: $color-light;
      text-wrap: nowrap;

      &:hover {
        background-color: $color-accent;
        color: $color-dark;
        box-shadow:
          0px 0px 5px 1px black,
          0px 0px 10px 1px $color-accent,
          0px 0px 5px 1px white,
          0px 0px 10px 1px rgb(130, 251, 255);
      }
    }

    .active,
    .active:hover {
      background-color: $color-primary;
      color: $color-light;
      box-shadow:
        0px 0px 10px 1px $color-accent,
        0px 0px 5px 1px white,
        0px 0px 10px 1px rgb(130, 251, 255);
      cursor: default;
    }
  }

  .quizzes {
    ul {
      @include Flex(column, 1rem);
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;

      li {
        @include Size(100%, 100%);
        @include Flex(row, 0);
        align-items: center;
        justify-content: space-between;
        background-color: #1e5128fa;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-light;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 0.5rem 0.25rem $color-accent;
        }

        section {
          flex: 1;
          @include Font($font-primary, 1.25rem, 700, $color-light);
        }

        button {
          @include Size(7rem, auto);
          @include Font($font-primary, 1rem, 700, $color-dark);
          padding: 0.5rem;
          border-radius: 2px;
          background-color: $color-light;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: $color-accent;
            color: $color-dark;
          }
        }
      }
    }
  }

  @include MediaQuery($breakpoint-md) {
    width: 95dvw;
    min-height: 450px;

    .quizzes {
      ul {
        padding: 0.5rem;

        li {
          padding: 0.2rem;

          section {
            font-size: 1rem;
            text-wrap: nowrap;

            &:nth-child(2) {
              margin: 0 2rem;
            }
          }

          button {
            width: 3.5rem;
          }
        }
      }
    }
  }
}
