@use "@/styles/main" as *;

.quizLayout {
  @include Size(100dvw, 100svh);
  position: fixed;
  background-color: $color-dark;
  top: 0;
  color: white;
  font-size: 2rem;
}

.quizPage {
  @include Size(100%, 100%);
  @include Flex(column, 1rem);
  align-items: center;
  justify-content: center;
}
